---
services:
  caddy-node:
    container_name: caddy-node
    hostname: caddy-node
    image: caddy:2-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "{{ xhttp_fallback_port }}:{{ xhttp_fallback_port }}"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./data:/data
      # - ./config:/config
