services:
  remnawave-caddy:
    image: remnawave/caddy-with-auth:latest
    container_name: remnawave-caddy
    hostname: remnawave-caddy
    restart: always
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    environment:
      - AUTH_TOKEN_LIFETIME={{ caddy_auth_token_lifetime }}
      - REMNAWAVE_PANEL_DOMAIN={{ domain }}
      - REMNAWAVE_CUSTOM_LOGIN_ROUTE={{ caddy_custom_login_route }}
      - AUTHP_ADMIN_USER={{ caddy_admin_user }}
      - AUTHP_ADMIN_EMAIL={{ caddy_admin_email }}
      - AUTHP_ADMIN_SECRET={{ caddy_admin_secret }}
      - AUTH_TOKEN_LIFETIME=3600
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"
    networks:
      - {{ docker_caddy_network }}
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-ssl-data:/data

volumes:
  caddy-ssl-data:
    name: caddy-ssl-data
    driver: local
    external: false

networks:
  {{ docker_caddy_network }}:
    name: {{ docker_caddy_network }}
    external: true

