---
- name: Install common packages
  ansible.builtin.apt:
    name:
      - acl
      - net-tools
      - gpg
      - vim
      - curl
      - ufw
      - fail2ban
      - python3-pip
    state: present

- name: Upgrade pip
  ansible.builtin.pip:
    name: pip
    state: latest
    executable: pip3
    extra_args: --break-system-packages --force-reinstall --ignore-installed
