---
- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600

- name: Install common packages
  ansible.builtin.apt:
    name:
      - acl
      - net-tools
      - gpg
      - vim
      - curl
      - ufw
      - fail2ban
      - apache2-utils  # for htpasswd
    state: present
