---
- name: Add basic groups
  ansible.builtin.group:
    name: "{{ item }}"
  loop:
    - ssh
    - docker

- name: Add root to ssh group
  ansible.builtin.user:
    name: root
    groups: ssh
    append: true

- name: Add accounts
  ansible.builtin.user:
    name: "{{ item.username }}"
    groups:
      - root
      - sudo
      - ssh
      - docker
    shell: /bin/bash
  loop: "{{ admin_users | default([]) }}"
  loop_control:
    label: "{{ item.username }}"

- name: Add ssh keys
  ansible.posix.authorized_key:
    user: "{{ item.username }}"
    key: "https://github.com/{{ item.github }}.keys"
  loop: "{{ admin_users | default([]) }}"
  loop_control:
    label: "{{ item.username }}"

- name: Limit SSH access to ssh group only
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    search_string: AllowGroups
    line: AllowGroups ssh
  notify: Reload sshd
