---
- name: Enable IPv6 in UFW
  ansible.builtin.lineinfile:
    path: /etc/default/ufw
    regexp: '^IPV6='
    line: 'IPV6=yes'
  notify: Reload ufw

- name: Allow ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: any
  loop: "{{ exposed_ports }}"

- name: Enable UFW and deny all other incoming
  community.general.ufw:
    state: enabled
    direction: incoming
    policy: deny
