---
- name: Enable IPv6 in UFW
  ansible.builtin.lineinfile:
    path: /etc/default/ufw
    regexp: '^IPV6='
    line: 'IPV6=yes'
  notify: Reload ufw

- name: Allow SSH
  community.general.ufw:
    rule: allow
    port: 22
    proto: tcp

- name: Allow HTTP (for redirects)
  community.general.ufw:
    rule: allow
    port: 80
    proto: tcp

- name: Allow HTTPS (panel)
  community.general.ufw:
    rule: allow
    port: "{{ https_port }}"
    proto: tcp

- name: Allow VLESS Reality ports
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ vless_ports }}"

- name: Enable UFW and deny all other incoming
  community.general.ufw:
    state: enabled
    direction: incoming
    policy: deny
