---
services:
  remnanode:
    container_name: exit-remnanode
    hostname: exit-remnanode
    image: remnawave/node:2.3.1
    network_mode: host
    restart: always
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    environment:
      - NODE_PORT={{ remnanode_port }}
      - SECRET_KEY={{ remnanode_secret_key }}
