services:
  remnawave-subscription-page:
    image: remnawave/subscription-page:latest
    container_name: remnawave-subscription-page
    hostname: remnawave-subscription-page
    restart: always
    env_file:
      - .env
    ports:
      - '127.0.0.1:{{ subscription_port }}:{{ subscription_port }}'
    networks:
      - {{ docker_caddy_network }}

networks:
  {{ docker_caddy_network }}:
    name: {{ docker_caddy_network }}
    external: true

